/*Кодировка*/
@charset "UTF-8";
/*Шрифты*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap');
/*Стили*/
@import url('../css/blocks/normalize.css');
@import url('../css/blocks/header.css');
@import url('../css/blocks/tours.css');
@import url('../css/blocks/tour.css');
@import url('../css/blocks/guide.css');
@import url('../css/blocks/reservation.css');
@import url('../css/blocks/footer.css');


body {
    background: url('../img/back.jpg') no-repeat 50% 50% fixed; */
    -webkit-background-size: 200% 200%;
    -moz-background-size: 200% 200%;
    -o-background-size: 200% 200%;
    background-size: 200% 200%;
}

.wrapper {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: 0 auto;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    font-family: 'Manrope', sans-serif;
    font-size: 36px;
    line-height: 49px;
    font-weight: 600;
    color: #171717;

    @media(max-width: 460px) {
        font-size: 30px;
    }
}

.text {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #171717;
}

.btn {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color: #fff;
}