.footer {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.footer__inner {
    background: #A73C00;
    border-radius: 12px 12px 0 0;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 130px;
    padding: 50px 70px 130px;
}

.footer__content-wrap {
    display: flex;
}

.footer-menu__list {
    font-size: 16px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    max-width: 150px;
    word-wrap: break-word;
    margin-right: 123px;   
}
.footer-menu__list:last-child {
    margin: 0;
}
.footer-menu__list li:first-child {
    font-size: 12px;
    line-height: 16px;
}

.footer-menu__list li {
    margin-bottom: 10px;
    min-width: 100%;
}

.footer-menu__list a:hover {
    color: #000;
    font-weight: 600;
}

.footer-menu__list li:last-child {
    margin-bottom: 0;
}
.menu_link-footer {
    display: block;
    min-width: 100%;
}

.footer__logo {
    font-size: 30px;
    line-height: 41px;
}

.footer__politics {
    text-align: right;
    padding: 0 25px 20px 0;
}

.footer__politics a {
    font-size: 18px;
    line-height: 24px;
    color: #EFEFEF;
    opacity: 50%;
    text-decoration: underline;
}