.guide {
    padding: 63px 0 355px;
}
.guides {
    padding-top: 46px;
}
.guides:first-child {
    padding-top: 63px;
}
.guides:last-child {
    padding: 46px 0 105px;
}

.guide__inner {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #F1F1F1;
    color: #171717;
    border-radius: 12px;
    display: flex;

    @media(max-width: 880px) {
        flex-direction: column;
    }
    @media(max-width: 530px) {
        max-width: 400px;
    }
    @media(max-width: 400px) {
        max-width: 350px;
    }
}

.guide__title {
    padding: 34px 10px 38px 34px;
}

.guide__img {
    display: block;
    max-width: 432px;
    min-width: 431px;
    max-height: 288px;
    min-height: 287px;
    margin: 0 0 100px 34px;

    @media(max-width: 880px) {
        margin-bottom: 0;
    }
    @media(max-width: 530px) {
        max-width: 300px;
        min-width: 299px;
        max-height: 250px;
        min-height: 249px;
    }
    @media(max-width: 400px) {
        max-width: 250px;
        min-width: 249px;
        max-height: 250px;
        min-height: 249px;
    }
}

.guide__info-content {
    padding: 120px 80px 0px 113px;
    @media(max-width: 1140px) {
        padding: 120px 40px 0px 40px;
    }
    @media(max-width: 880px) {
        padding: 30px 40px 0px 36px;
    }
}

.guide__info-text {
    margin: 0 0 22px 0;
}

.guide__info-title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 27px;
}

.guide__info-btns {
    max-width: 522px;
    margin: 0 0 36px 113px;
    display: flex;
    justify-content: space-between;

    @media(max-width: 1140px) {
        margin-left: 34px;
    }
    @media(max-width: 880px) {
        padding-right: 15px;
    }
}

.guide__info-btn_first {
    max-width: 200px;
}

.guide__info-btn_second {
    max-width: 310px;
}

.guide__link-first {
    padding: 16px 36px;
}

.guide__link-second {
    padding: 16px 42px;

    @media(max-width: 400px) {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.guide__link {
    background-color: #E35200;
    border-radius: 16px;
    line-height: 22px;
    word-wrap: break-word;
    display: inline-block;
    transition: background-color 0.2s ease-in;
}

.guide__link:hover {
    background-color: #F46514;
}
.guide__link:active {
    background-color: #c94800;
}